.vid-container {    
  overflow: hidden;    
  #homeVid {
    position: fixed; 
    bottom: 0;   
    left: 0;
    min-width: 100vw;
    min-height: 100vh;    
  }
}
.vid-container:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

@media screen and (max-width: $sm) {
  .vid-container {
    #homeVid {
      transform: translateX(-30%);
    }
  }
}
@media screen and (max-width: $md) {
  .vid-container {
    #homeVid {
      transform: translateX(-40%);
    }
  }
}