.header-page {
  position: fixed;
  width: 100vw;
  height: 20vh;
  z-index: 50;  
  color: white;
 
  .banner-header {
    display: inline-block;
    font-size: 3.5rem;
    padding: .5em;
    text-align: center;
    background: rgba(255,255,255,.3);    
    animation: 1s ease-in 2.5s banner;
    animation-fill-mode: forwards;
    opacity: 0;
  }  
  .banner-title {   
    text-align: center;
    font-size: 5em;
    opacity: 0;
    animation: 1s ease-in 2.5s bannerTitle;
    animation-fill-mode: forwards;
  }
 
}
@keyframes bannerTitle {
  0% {
    opacity: 0;
    top: 9%;    
  }
  100% {
    opacity: 1;    
    top: 10%;
  }
}

@keyframes banner {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: $sm) {
  .header-page{
    position: relative;
    // width: 100vw;
    // height: 20vh;
    // z-index: 50;  
    .banner-header {  
      font-size: 5.5rem;  
      width: 100%;       
    } 
  }
}