.ReactModal__Content--after-open {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 0;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
}
.all-project-pages {
  min-height:100vh;
  min-width: 100vw;
  max-height: 100%;
  max-width: 100%;    
}
.projects-page {
  color: white;
  height: 100vh;
  width: 100vw;
  .projects {
    .projects-header {
      margin-top: 3.5rem;
      margin-bottom: 0;
      text-align: center;
      font-size: 3.5rem;
      width: 100%
    }
    .row {    
      text-align: center;
      .projects-div {
        position: relative;
        // width: 550px;
        // height: 280px;
        perspective: 150rem;
        -webkit-perspective: 150rem;
        -moz-perspective: 150rem;
        .projects-div-info {    
          text-align: left;                    
          position: absolute;
          top: 0;
          left: 0;
          // max-width: 550px;
          // max-height: 275px;          
          transition: all .8s;                    
          backface-visibility: hidden;    
          border-radius: 20px;   
          &--changeCalc {
            background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
            background: linear-gradient(to right, #3a6073, #3a7bd5);
          }
          &--vstda {
            background: #136a8a; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #89c1c6, #6281c9);
            background: linear-gradient(to left, #89c1c6, #6281c9);
          }
          &--astro {
            background: -webkit-linear-gradient(to left, #020202, #717171);
            background: linear-gradient(to left, #020202, #717171);
          }
          &--front {
            opacity: .7;
          }     
          &--back {
            padding: .9rem;
            transform: rotateY(180deg);
          }
          &-title {
            text-align: center;
            font-size: 1.6rem;
            &--github {
              &:hover {
                opacity: .8;
              }
            }
          }
          &-text {
            font-size: .9rem;
          }
          &--weatherApp {
            background: -webkit-linear-gradient(to top, #a2dbf2, #3068eb);
            background: linear-gradient(to top, #a2dbf2, #3068eb);
          }
        }
        &:hover .projects-div-info--front {
          transform: rotateY(180deg);
        }
        &:hover .projects-div-info--back {
          transform: rotateY(0);     
        }
      }
    }    
  }
}

.gitHubImage {
  position:absolute;
  right: 0;
  margin-right: 10px;
  width: 70px;
}

//Back Button
.project-close {
  display: flex;
  margin-top: 2rem;
  padding: 1.6rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  &-btn {
    flex: 0 0 30rem;
    display: flex;
    text-align: right;
    button {
      flex: 1 2 2rem;
      color: white;
      font-size: 1.6rem;
      background-color: red;
      border: red;
      border-radius: 8px;
      padding: 1.6rem;
    }
  }
  &-git {
    flex: 0 0 50%;
    &:hover {
      opacity: .8;
    }
  }
}

@media only screen and (max-width: $sm) {
  .projects-page {
    .projects {
      .projects-header {
        margin-top: 3.5rem;
      }
      .row {
        .projects-div {
          width: 29rem;
          height: 15rem;
          .projects-div-info {
            width: 100%;
            max-height: 28rem;
            &--back {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .project-close {
    justify-content: center;
    &-git {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
@media only screen and (min-width: $sm) and (max-width: $md) {
  .projects-page {
    .projects {
      .projects-header {
        margin-top: 6.5rem;
        margin-bottom: 1rem;
      }
      .row {
        .projects-div {
          height: 22rem;          
          .projects-div-info {
            width: 100%;
            max-height: 280px;
            &-title {              
              font-size: 2rem;              
            }
            &-text {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
  .gitHubImage {
    top: 6%;
  }
}
@media only screen and (min-width: $md) and (max-width: $lg) {
  .projects-page {
    .projects {      
      .row {
        .projects-div {
          height: 20rem;
          .projects-div-info {
            width: 100%;
            max-height: 220px;
            &-text{
              font-size: 1.2rem;
            }
            &--back {
              height: 100%;
            }
          }
        }
      }
    }
  }
  .gitHubImage {
    width: 100px;
  }
}
@media only screen and (min-width: $lg) and (max-width: $xl) {
  .projects-page {
    .projects {
      .row {
        .projects-div {
          height: 21rem;
          max-width: 49rem;
          .projects-div-info {
            max-height: 21rem;
            &-title {
              font-size: 2rem;
            }
            &-text{
              font-size: 1.4rem;
            }
            &--back {
              height: 100%;
            }
          }
        }
      }
    }
  }
  .gitHubImage {
    width: 100px;
  }
}

@media only screen and (min-width: $xl) {
  .projects-page {
    .projects {
      .row {
        .projects-div {
          height: 49rem;
          max-height: 21rem;
          max-width: 49rem;
          .projects-div-info {
            max-width: 41rem;

            &-title {
              font-size: 2rem;
            }
            &-text{
              font-size: 1.2rem;
            }
            &--back {
              height: 100%;
            }
          }
        }
      }
    }
  }
  .gitHubImage {
    width: 100px;
  }
 
}