#vstdaProject {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #89c1c6, #6281c9);
  background: linear-gradient(to left, #89c1c6, #6281c9);
  min-width: none;
  }
  .vstda-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .vstda-header {   
      flex: 1;             
      color: white;
      font-size: 5rem;
      margin-top: 4rem;
      .vstda-subheader {
        color: white;
        font-size: 3rem;
        margin-bottom: 4rem;
        border-bottom: 2px white solid;
      }
    }
}
.vstda-content {
  display: flex;
  font-size: 2.1rem;
  flex: 1;
  flex-wrap: wrap;
  .vstda-form {
    flex: 1 0 39rem;
    max-width: 30rem;
    margin-bottom: 2rem;
    max-height: fit-content;
    border-radius: .8rem;
    background-color: rgb(244, 244, 244); 
    &-head {
      border-radius: .8rem .8rem 0 0;
    }
    &-head, &-foot {    
      padding: 1rem;
      background-color: rgb(227, 227, 227);
    }
    &-body {
      padding: 1rem;
      &-group {     
        margin-bottom: 2rem;   
        textarea {
          padding: .5rem;
          font-size: 1.8rem;
          width: 100%;
          min-height: 8rem;
          max-height: 16rem;
        }
        select {
          margin-top: 1.3rem;
          width: 100%;
          font-size: 1.8rem;
          height: 4rem;
        }        
      }
    }
  }
  .vstda-list {
    flex: 2 0 40rem;
    border-radius: 8px;
    min-height: 38rem;
    height: 40rem;
    width: 100%;
    max-height: 40rem;
    overflow: auto;
    &-body {
      background-color: rgb(244, 244, 244); 
      &-header {      
        padding: 1rem;        
      }
      &-group {
        &-item-warning, &-item-success, &-item-danger {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          .vstda-list-body-group-text {
            flex: 6;
            max-width: 73rem;
            word-wrap: break-word;
          }
          .vstda-list-body-group-btns {  
            flex: 1;       
            &-edit {
              margin: 0 2rem;
            }
            &-delete {
              margin-right: 4rem;
            }   
          }
          &-update-text {
            width: 20rem;
          }
        }
        &-item-warning {
          background-color: #ececb0
        }
        &-item-success {
          background-color: #58c558;
        }
        &-item-danger {
          background-color: #f59595;
        }
        &-edit {
          &-item-warning, &-item-success, &-item-danger {
            padding: 2rem;
            label {
              display: block;
            }
            textarea {
              padding: .5rem;
              width: 100%;
              height: 10rem;
              font-size: 1.6rem;
            }
            .vstda-list-body-group-edit-btns {
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
              &-label {
                flex: 0 0 10rem;
                margin: 0 1rem 1rem 0;                
              }
              &-select {
                flex: 0 0 20rem;
                height: 3rem;
                font-size: 1.3rem;
                margin: 0 1rem 1rem 0;
              }
              &-cancel {
                flex: 0 0 17rem;
                border-radius: 8px;
                color: white;
                background-color: red;
                font-size: 1.4rem;
                margin: 0 0 1rem 0;
                height: 3rem;
              }
              &-submit {
                flex: 0 0 17rem;
                border-radius: 8px;
                color: white;
                background-color: green;
                font-size: 1.4rem;
                height: 3rem;
                margin: 0 0 1rem 1rem;
              }
            }
          }
          &-item-warning {
            background-color: #ececb0
          }
          &-item-success {
            background-color: #58c558;
          }
          &-item-danger {
            background-color: #f59595;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .vstda-container {
    padding: 2rem;
  }
  .vstda-content {
    font-size: 2.5rem;
    .vstda-form, .vstda-list {
      max-width: 39rem;
    }    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 28rem;      
            }
            .vstda-list-body-group-btns {
              &-edit, &-delete {
                margin: 0 1rem;
              }
            }
          }
        }
      }
    }

  }
}
@media screen and (min-width: $sm) and (max-width: $md) {
  .vstda-container {
    padding: 2rem;
  }
  .vstda-content {    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 48rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $md) and (max-width: $lg) {
  .vstda-form {
    margin-right: 2rem;

  }
  .vstda-content {    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 39rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $lg) and (max-width: $xl) {
  .vstda-form {
    margin-right: 2rem;
  }
  .vstda-content {    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 49rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $xl) {
  .vstda-form {
    margin-right: 2rem;
  }
}