#vstdaProject {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #89c1c6, #6281c9);
  background: linear-gradient(to left, #89c1c6, #6281c9);
  min-width: none;
  }
.vstda-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  .vstda-content {
    .vstda-header {   
      color: white;
      font-size: 5rem;
      margin-top: 4rem;
      .vstda-subheader {
        color: white;
        font-size: 3rem;
        margin-bottom: 4rem;
        border-bottom: 2px white solid;
      }
    }
    .vstda-content-inputs {
      display: flex;
      font-size: 2.1rem;
      flex-wrap: wrap;
      margin: 0 auto;
      .vstda-form {
        width: 100%;
        border-radius: .8rem;
        &-head {
          border-radius: .8rem .8rem 0 0;
        }
        &-head, &-foot {    
          padding: 1rem;      
        }
        &-body {
          &-group {     
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: solid 1px #ffffff;
            border-radius: 8px;
            padding: 1rem;
            i {
              color: #ffffff;
              font-size: 3rem;
            }   
            &-input {
              width: 100%;
              margin: 0 4rem;
              height: 4rem;
              background-color: transparent;
              color: #ffffff;
              font-size: 1.8rem;
              padding: 1rem;
              border: none;
            }        
            ::placeholder {
              color: #ffffff;
              opacity: 1;
            }
            select {          
              min-width: 16rem;
              font-size: 1.8rem;
              height: 4rem;
              color: #ffffff;
              background-color: transparent;
              border: none;
            }        
          }
        }
        &-btn {
          font-size: 3rem;          
          &-active {
            color: #ffffff;
          }
          &-disabled {
            color: red;
          }
        }
      }
      .vstda-list {
        border-radius: 8px;
        width: 100%;
        &-body {
          &-group {
            &-warning, &-success, &-danger {
              padding: 2rem;
              display: flex;
              justify-content: space-between;
              margin: 2rem 0;
              border-radius: 8px;
              &-delete {
                margin-right: 2rem;
                input {
                  font-size: 2rem;
                }
              }
              &-text {
                color: #ffffff;
                width: 60rem;
                height: 4rem;
              }
              &-edit {
                margin: 0 2rem;
                i {
                  color: #ffffff;
                  font-size: 3rem;
                }
              } 
              &-update-text {
                width: 20rem;
              }
              &-save {
                color: white;
                font-size: 3rem;
              }
              &-input {                    
                width: 45rem;
                height: 4rem;
                background-color: transparent;
                color: #ffffff;
                font-size: 2rem;
                padding: 1rem;
                border: none;
              }
              &-select {
                min-width: 16rem;
                font-size: 1.8rem;
                height: 4rem;
                color: #ffffff;
                background-color: transparent;
                border: none;
              }
              &-cancel {
                color: white;
                font-size: 3rem;
              }       
            }
            &-warning {
              background-color: #c3c300;
            }
            &-success {
              background-color: #00b300;
            }
            &-danger {
              background-color: #ec6e6e;
            }
          }
        }
      }
    }
  }
  .project-close {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: $sm) {
  .vstda-container {
    padding: 2rem;
  }
  .vstda-content-inputs {
    font-size: 2.5rem;
    .vstda-form {
      &-body {
        padding: 0;
        &-group {
          input {
            margin: 0 1.5rem;
            font-size: 2.4rem;
          }
          select {
            font-size: 2.4rem;
            min-width: 10rem;
          }
        }
      }
    }
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 28rem;      
            }
            .vstda-list-body-group-btns {
              &-edit, &-delete {
                margin: 0 1rem;
              }
            }
          }
        }
      }
    }

  }
}
@media screen and (min-width: $sm) and (max-width: $md) {
  .vstda-container {
    padding: 2rem;
  }
  .vstda-content-inputs {    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 48rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $md) and (max-width: $lg) {  
  .vstda-content-inputs {    
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 39rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $lg) and (max-width: $xl) {
  .vstda-content-inputs {   
    width: 80rem; 
    .vstda-list {
      &-body {
        &-group {
          &-item-warning, &-item-success, &-item-danger {
            .vstda-list-body-group-text {
              max-width: 49rem;      
            }            
          }
        }
      }
    }

  }
}
@media only screen and (min-width: $xl) {
  .vstda-content {
    &-inputs {
      width: 100rem; 
    }

  }
}