#weatherProject {
  background: rgba(255,255,255,.8);
  background-image: url('./../../public/images/weatherClouds.jpg');
  background-size: cover;
  background-position: center; 

}
.weather-container {
  z-index: 5;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  &:before {
    content: '';
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
  }
}
.weather-header {
  flex: 1;
  color: white;
  font-size: 5rem;
  margin-bottom: 2rem;
  z-index: 5;
  header {
    border-bottom: 4px solid white;
  }
}
.weather-content {
  flex: 1;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  z-index: 5;
  .weather-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    &-btn-group {   
      flex: 1;   
      display: flex;
      flex-wrap: wrap;
      max-height: fit-content;
      button {
        flex: 1 0 8rem;
        font-size: 1.7rem;
        color: white;
        background-color: rgba(98, 98, 249, 0.8);
        border: none;
        padding: 1rem;
        height: 5rem;        
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
    &-input {
      flex: 1;
      display: flex;
      margin-bottom: 1rem;
      input {
        flex: 1;
        height: 4rem;
        padding: 1rem;
        font-size: 1.7rem;
        border-radius: 8px 0 0 8px;        
      }
      &-btn {
        button {
          background-color: lightgrey;
          flex: 1;
          height: 4rem;
          font-size: 1.7rem;
          padding: 1rem;
          border-radius: 0 8px 8px 0;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    &-alert {
      flex: 1;
      padding: 1rem;
      border-radius: 8px;
      text-align: center;
      max-height: 5rem;
      margin-bottom: 2rem;
      &-success {
        background-color: #58bb58;
      }      
      &-danger {
        background-color: #f96464;
      }
    }
  }
  .weather-output {
    z-index: 5;
    color: white;
    flex: 1;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    &-info {      
      border-radius: 8px;
      flex: 1 0 39rem;
      margin-right: 2rem;
      &-head {
        padding: 1rem;
        background-color: rgba(98, 98, 249, 0.8);
        border-radius: 8px 8px 0 0;
      }
      &-body {
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        background-color: rgba(255, 255, 255, 0.4);
        border-right: 2px rgba(255,255,255, .4) solid;
        border-bottom: 2px rgba(255,255,255, .4) solid;
        border-left: 2px rgba(255,255,255, .4) solid;
        &-main {
          flex: 1;
          display: flex;    
          flex-wrap: wrap;  
          height: 19rem;    
          .head {            
            font-weight: bold;                                
            width: 100%;              
            table {
              width: 100%;
              border-collapse: collapse;
              tbody {
                tr {                  
                  border-bottom: 3px solid white;                  
                  td {
                    height: 100%;                    
                  }
                  .first {
                    padding: 1rem;  
                    min-width: 14rem;  
                    &-visual-icon {
                      height: 9rem;
                    }
                    &-visual-degrees {
                      font-size: 4rem;
                    }
                  }
                  .second {
                    padding: 1rem;    
                    font-size: 4.5rem; 
                    border-right: 1px solid white;
                    max-width: 34rem;
                  }
                  .third {
                    padding: 1rem;    
                    font-size: 1.8rem;
                    font-weight: initial;

                  }
                }
              }
            }                    
          }
        }
        &-stats {
          display: flex;
          flex-wrap: wrap;
          font-size: 2.5rem;
          &-group {
            padding: 2rem;
            flex: 1 0 20rem;
            &-alert {
              color: green;
            }
          }
        }
      }
    }
    &-search {
      flex: 1;
      border-radius: 8px;
      text-align: center;
      max-height: 51rem;
      &-head {
        padding: 1rem;
        background-color: rgba(98, 98, 249, 0.8);
        border-radius: 8px 8px 0 0;
      }
      &-body {
        background-color: rgba(255, 255, 255, 0.4);
        border-right: 2px rgba(255,255,255, .4) solid;
        border-bottom: 2px rgba(255,255,255, .4) solid;
        border-left: 2px rgba(255,255,255, .4) solid;
        table {
          width: 100%;
          text-align: left;
          border-collapse: collapse;
          tbody {
            .table-secondary {
              background-color: #7777776e;
            }
            .table-name {
              width: 80%;
              padding: 1rem;
            }
            .table-info {
              font-size: 1.7rem;
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
.project-close {
  z-index: 5;
}
@media screen and (max-width: $sm) {
  .weather-container {
    padding: 2rem;    
    .weather-header {
      max-height: 8rem;
    }
    .weather-content {
      max-height: 70rem;
      .weather-form {
        max-height: 21rem;
        &-input {
          min-height: 4rem;
        }
        &-btn-group {
          display: none;
        }
        &-alert, &-danger {
          font-size: 1.8rem;
          max-height: 8rem;
        }
      }
      .weather-output {
        min-height: 50rem;
        flex: 1;
        &-info {          
          margin: 0 auto;
          flex: 1;
          &-body {
            &-main {
              min-height: 31rem;
              .head {
                table {
                  tbody {
                    tr {
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      .first {      
                        min-width: 50%;                  
                        &-visual {
                          &-icon {
                            height: 6rem;
                          }
                          &-degrees {
                            font-size: 3.2rem;
                          }
                        }
                      }
                      .second {
                        width: 50%;
                        font-size: 4rem;
                        border-right: none;
                      }
                      .third {
                        flex: 1;
                      }
                    }
                  }
                }
              }
            }
            &-stats {
              max-height: 32rem;
              font-size: 1.8rem;
              &-group {
                flex: 1 0 13rem;
                padding: 1rem;
              }
            }
          }
        }
        &-search {
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: $sm) and (max-width: $md) {
  .weather-container {
    .weather-header {
      margin-top: 1rem;
      text-align: center;
      font-size: 7rem;
      max-height: 11rem;
    }
    .weather-content {
      .weather-form {
        max-height: 22rem;
        &-input {
          input {
            height: 5rem;
            border-radius: 0;
          }
          &-btn {
            button {
              height: 5rem;
              border-radius: 0;
            }
          }
        }
        &-btn-group {
          display: none;
        }
        &-alert {
          margin-top: 2rem;
        }
      }
      .weather-output {
        height: 63rem;
        padding-top: 4rem;
        &-info {
          margin-right: .5rem;
          &-head {         
            font-size: 2.7rem;
          } 
          &-body {
            font-size: 2.4rem;
            &-main {
              height: 27rem;
              .head {
                table {
                  height: 100%;
                }
              }
            }
            &-main {
              height: 27rem;
            }
          }
        }
        &-search {
          &-head {
            font-size: 2.7rem;
          }
          &-body{
            table{
              tbody{
                .table {
                  &-name {
                    width: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .project-close {
      padding: 3rem;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .weather-container {
    margin: 0 auto;
    max-width: 96rem;
    .weather-header {
      margin: 2rem 0;
      max-height: 8rem;
    }
    .weather-content {
      .weather-form {
        display: block;
        max-height: 18rem;
        &-btn-group {
          display: none;
        }
        &-alert, &-danger {
          margin-top: 1rem;
        }
      }
      .weather-output {
        min-height: 42rem;
      }
    }
  }
}
@media screen and (min-width: $lg) and (max-width: $xl) {
  .weather-container {
    margin: 0 auto;
    min-width: 95rem;
    max-width: 120rem;
    .weather-header {
      margin: 2rem 0;
      max-height: 8rem;
    }
    .weather-content {
      .weather-form {
        display: block;
        max-height: 18rem;
        &-btn-group {
          margin-bottom: 1rem;
        }
        &-alert, &-danger {
          margin-top: 1rem;
        }
      }
      .weather-output {
        min-height: 42rem;
      }
    }
  }
}
@media screen and (min-width: $xl) {
  .weather-container {
    margin: 0 auto;
    min-width: 95rem;
    max-width: 120rem;
  }
  .weather-content {
    min-height: 57rem;
    .weather-form {
      max-height: 19rem;
      &-input {
        max-height: 4rem;
      }
      &-btn-group {   
        margin-bottom: 2rem;
      }
    }
  }
}