//Media Queries
$sm: 37.5em;
$md: 56.25em;
$lg: 75em;
$xl: 93.75em;
$unit: .0625em;

//Webkits
$animation: -webkit-animation;
$webfillmode: -webkit-animation-fill-mode;
$transform: -webkit-transform;
$mtransform: -ms-transform;


//Grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;
