//Media Queries
$sm: 37.5em;
$md: 56.25em;
$lg: 75em;
$xl: 93.75em;
$unit: .0625em;

//Webkits
$animation: -webkit-animation;
$webfillmode: -webkit-animation-fill-mode;
$transform: -webkit-transform;
$mtransform: -ms-transform;


//Grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

//Colors
$mod: linear-gradient(to bottom, rgb(94, 94, 94), black);
$webmod: -webkit-linear-gradient(to bottom, rgb(94, 94, 94), black);
$teal: linear-gradient(to bottom, #daeff1, #c9e5e8);
$webteal: -webkit-linear-gradient(to bottom, #daeff1, #c9e5e8);
$lightblue: linear-gradient(to bottom, #dfdffd, #ececfb);
$weblightblue: -webkit-linear-gradient(to bottom, #dfdffd, #ececfb);
$tan:linear-gradient(to bottom, #ebdcd1, #dccec3);
$webtan: -webkit-linear-gradient(to bottom, #ebdcd1, #dccec3);
$lightpurple:linear-gradient(to bottom, #f1d1f1, #cab2ca);
$weblightpurple: -webkit-linear-gradient(to bottom, #f1d1f1, #cab2ca);
$lightgreen:linear-gradient(to bottom, #cef3d1, #a9e4b6);
$weblightgreen:-webkit-linear-gradient(to bottom, #cef3d1, #a9e4b6);
$orange:linear-gradient(to bottom, #d4ab82, #ffd5a9);
$weborange:-webkit-linear-gradient(to bottom, #d4ab82, #ffd5a9);
$yellow:linear-gradient(to bottom, #fff8c0, #e8e2b6);
$webyellow:-webkit-linear-gradient(to bottom, #fff8c0, #e8e2b6);
