.row {
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;    
  }

  @include clearfix;
    
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal})/ 2);
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;            
    }        
  }

}

@media screen and (max-width: $sm) {
  .row {
    max-width: 54rem;
    .col-1-of-2 {
      float: none;
      margin: 0 auto;
      &:not(:last-child) {
        margin-right: auto;
      }
    }    
  }
}
@media screen and (min-width: $sm) and (max-width: $md) {
  .row {
    max-width: 68rem;
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .row {
    max-width: 80rem;
  }
}

@media screen and (min-width: $lg) and (max-width: $xl) {
  .row {
    max-width: 95rem;
  }
}
@media screen and (min-width: $xl) {
  .row {
    max-width: 102rem;
  } 
}