.about-container {
  height: 100vh;
  width: 100vw;  
  color: white;
  .about-row {
    border: 2px white solid;
    border-radius: 20px;
    padding: 20px;
    background: rgba(255,255,255,.1);
  }
  .row{
    display: flex;
    .about-header {
      flex: 1;      
      margin-top: 1em;
      text-align: center;
      font-size: 4em;
      width: 100%;      
    }     
    .about-text {
      .image-container {
        .profile-image {
          width: 250px;        
          background-color: rgba(255,255,255,.3);
          border-radius: 20px 20px 8px 8px;      
          float: left;
          margin-right: 15px;
        }
      }
      .about-name {
        text-align: center;
      }
    } 
    .download-btn{
      flex: 1 0 200px;
      text-align: center;
      margin-top: 1em;
      #downloadBtn {
        color: white;
        background-color: #d80000;
        padding: 10px;
        border-radius: 8px;
        border: 2px solid #f72626;
        width: 250px;
      }
      #downloadBtn:hover {
        background-color: rgb(250, 86, 86);
      }
    }
  }
}

@media screen and (max-width: $xs) {
  .about-container {    
    .row {
      .about-header {
        font-size: 3.5em;
      }      
      .about-text {
        .image-container {
          text-align: center;
          .profile-image {
            width: 190px;
            float: none;            
          }
        } 
        .lg-paragraph {
          display: none;
        }       
      }
      .download-btn {
        #downloadBtn {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: $sm) and (max-width: $md - 1px) {
  .about-container {
    .row {
      .about-text {
        // .image-container {
        //   text-align: center;
        //   .profile-image {
        //     float: none;            
        //   }
        // }
      }
    }
  }
}
