.projectsPage {
  background-image: url("./../assets/images/BalboaPark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.projectsPage:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

#infoDiv {
  background-color: rgba(white, .5);
  position: relative;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear;
}
.projectsHeader {
  z-index: 20;
}

#changeCalcImage {
  background-image: url("./../assets/images/ChangeCalc.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  // transform: translate(-50, -50);
  // opacity: .7;
  width: 500px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  z-index: 20;
  -webkit-animation-name: moveRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out; 
  -webkit-animation-fill-mode: forwards;
  animation-name: moveRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

@keyframes moveRight {  
  0% {margin-right: 50%;}  
  100% {margin-right: 0;}
}
#changeCalcImage:hover {
  animation-play-state: running;
}

