#splash-page {
  background-image: url('./../../public/images/DowntownBackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  @animation-name: overlay;
  @animation-duration: 2s;
  @animation-delay: 2s;
  @animation-fill-mode: forwards;
  animation-name: overlay;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.overlay-text {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 3px rgb(38, 38, 38);
  color: rgb(255,255,255);
  z-index: 20;
}

.splash-container {
  height: 100%;
  width: 100%;
}
.overlay-text-name {
  position: relative;
}
.overlay-text ul {
  padding: 0;
}
.overlay-text li {display: inline-block;}
@keyframes overlay {
  0% {background-color: rgba(0,0,0,0)}
  100% {background-color: rgba(0,0,0,0.6)}
}
@-webkit-keyframes overlay {
  0% {background-color: rgba(0,0,0,0)}
  100% {background-color: rgba(0,0,0,0.6)}
}

@media screen and (max-width: @md) {

  
  #splash-vid {  
    display: none;
  }
  .text-row-top {
    height: 15%;
  }
  .text-row-middle {
    height: 70%;
  }
  .text-row-bottom {
    height: 15%;
  }
  .overlay-text {
    line-height: 12vh;
    font-size: 14vw;
    opacity: .8;
  }
}

@media screen and (min-width: @md) and (max-width: calc(@lg - 1px)) {
  #splash-vid {  
    display: none;
  }
  .text-row-top {
    height: 15%;
  }
  .text-row-middle {
    height: 70%;
  }
  .text-row-bottom {
    height: 15%;
  }
  .overlay-text {
    line-height: 12vh;
    font-size: 10vw;
    opacity: .8;
  }
}
@media screen and (min-width: @lg) and (max-width: calc(@xl - 1px)) {
    #splash-page {
      background-image: none;
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
    }
    #splash-vid {  
      display: block;
      height: 100vh;
      box-sizing: content-box;
      overflow-y: scroll;
    }
    .text-row-top {
      height: 15%;
    }
    .text-row-middle {
      height: 70%;
    }
    .text-row-bottom {
      height: 15%;
    }
    .overlay {
      top:0;
      right:0;
      bottom:0;
      left:0;
    }
    .overlay-text {
      line-height: 12vh;
      font-size: 10vw;
      opacity: .8;
    }
  }
@media screen and (min-width: @xl) and (max-width: 1499px){

  #splash-page {
    background-image: none;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #splash-vid {  
    display: block;
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .text-row-top {
    height: 15%;
  }
  .text-row-middle {
    height: 70%;
  }
  .text-row-bottom {
    height: 15%;
  }
  .overlay {
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  .overlay-text {
    line-height: 29vh;
    font-size: 6vw;
    opacity: .8;
  }
  .overlay-text ul {
    display: inline-block;
  }
  .overlay-text-name li {
    opacity: 0;
  }
  .overlay-text-title li {
    opacity: 0;
  }
  
  .overlay-text-name {
    margin-right: 30px;
  }
  .overlay-text-title {
    margin-right: 30px;
  }
  .overlay-text-name li:last-child {
    margin-right: 0;
  }
}
     
@media screen and (min-width: 1500px) {

  #splash-page {
    background-image: none;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #splash-vid {  
    display: block;
    min-width: 100vw;
    overflow: hidden;
  }
  .text-row-top {
    height: 15%;
  }
  .text-row-middle {
    height: 70%;
  }
  .text-row-bottom {
    height: 15%;
  }
  .overlay {
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  .overlay-text {
    line-height: 20vh;
    font-size: 6vw;
    opacity: .8;
  }
  .overlay-text ul {
    display: inline-block;
  }
  .overlay-text-name li {
    opacity: 0;
  }
  .overlay-text-title li {
    opacity: 0;
  }
  
  .overlay-text-name {
    margin-right: 30px;
  }
  .overlay-text-title {
    margin-right: 30px;
  }
  .overlay-text-name li:last-child {
    margin-right: 0;
  }
}