.vidContainer {  
  position: relative;  
  width: 100vw;
  height: 100vh;
  bottom: 0; 
  overflow: hidden;  
}

#backgroundVid {    
  position: fixed; 
  min-width: 100vw;    
  min-height: 100vh;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.vidContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  animation-name: overlay;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes overlay {
  0% {background-color: rgba(0,0,0,0)}
  100% {background-color: rgba(0,0,0,0.6)}
}

.overlayText {
  list-style: none;
  position: absolute;  
  top: 40%;  
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);      
  text-align: center; 
  font-size: 70px;
  width: 100%;
  font-weight: bold;
  color: white;  
  z-index: 20;
}
.overlayText li {display: inline-block;opacity: 0;}
.overlayTextTitle {margin-top: 80px;}
.overlayTextName li:nth-child(7) {margin-right: 30px;}
.overlayTextName li:last-child {margin-right: 0;}
.overlayTextName li:nth-child(1) {animation: 1.6s linear 3s first; animation-fill-mode: forwards;}
.overlayTextName li:nth-child(2) {animation: 1.6s linear 3.2s sec;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(3) {animation: 1.6s linear 3.4s third;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(4) {animation: 1.6s linear 3.6s fourth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(5) {animation: 1.6s linear 3.8s fifth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(6) {animation: 1.6s linear 4s sixth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(7) {animation: 1.6s linear 4.2s seventh;animation-fill-mode: forwards; margin-right: 30px;}
.overlayTextName li:nth-child(8) {animation: 1.6s linear 4.4s eighth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(9) {animation: 1.6s linear 4.6s ninth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(10) {animation: 1.6s linear 4.8s tenth;animation-fill-mode: forwards;}
.overlayTextName li:nth-child(11) {animation: 1.6s linear 5s eleventh;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(1) {animation: 1s linear 3s firstT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(2) {animation: 1s linear 3.2s secT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(3) {animation: 1s linear 3.4s thirdT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(4) {animation: 1s linear 3.6s fourthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(5) {animation: 1s linear 3.8s fifthT;animation-fill-mode: forwards;margin-right: 30px;}
.overlayTextTitle li:nth-child(6) {animation: 1s linear 4s sixthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(7) {animation: 1s linear 4.2s seventhT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(8) {animation: 1s linear 4.4s eighthT;animation-fill-mode: forwards;margin-right: 30px;}
.overlayTextTitle li:nth-child(9) {animation: 1s linear 4.6s ninthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(10) {animation: 1s linear 4.8s tenthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(11) {animation: 1s linear 5s eleventhT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(12) {animation: 1s linear 5.2s twelvethT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(13) {animation: 1s linear 5.4s thirteenthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(14) {animation: 1s linear 5.6s fourteenthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(15) {animation: 1s linear 5.8s fifteenthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(16) {animation: 1s linear 6s sixteenthT;animation-fill-mode: forwards;}
.overlayTextTitle li:nth-child(17) {animation: 1s linear 6.2s seventeenthT;animation-fill-mode: forwards;}


@keyframes first {from {transform: translate(0, 200%);}to {opacity: 1;}}
@keyframes sec {from {transform: translate(-200%, 0%);}to {opacity: 1;}}
@keyframes third {from {transform: translate(-300%, 2%);}to {opacity: 1;}}
@keyframes fourth {from {transform: translate(-200%, -500%);}to {opacity: 1;}}
@keyframes fifth {from {transform: translate(-300%, -200%);}to {opacity: 1;}}
@keyframes sixth {from {transform: translate(20%, -100%);}to {opacity: 1;}}
@keyframes seventh {from {transform: translate(-300%, -200%);}to {opacity: 1;}}
@keyframes eighth {from {transform: translate(700%, -200%);}to {opacity: 1;}}
@keyframes ninth {from {transform: translate(600%, -400%);}to {opacity: 1;}}
@keyframes tenth {from {transform: translate(300%, -200%);}to {opacity: 1;}}
@keyframes eleventh {from {transform: translate(300%, -800%);}to {opacity: 1;}}
@keyframes firstT {from {transform: translate(-300%, 800%);}to {opacity: 1;}}
@keyframes secT {from {transform: translate(-600%, -600%);}to {opacity: 1;}}
@keyframes thirdT {from {transform: translate(200%, 200%);}to {opacity: 1;}}
@keyframes fourthT {from {transform: translate(600%, -20%);}to {opacity: 1;}}
@keyframes fifthT {from {transform: translate(-200%, -800%);}to {opacity: 1;}}
@keyframes sixthT {from {transform: translate(-300%, -800%);}to {opacity: 1;}}
@keyframes seventhT {from {transform: translate(-100%, -100%);}to {opacity: 1;}}
@keyframes eighthT {from {transform: translate(-200%, 100%);}to {opacity: 1;}}
@keyframes ninthT {from {transform: translate(-500%, 500%);}to {opacity: 1;}}
@keyframes tenthT {from {transform: translate(90%, -90%);}to {opacity: 1;}}
@keyframes eleventhT {from {transform: translate(100%, 100%);}to {opacity: 1;}}
@keyframes twelvethT {from {transform: translate(-200%, 200%);}to {opacity: 1;}}
@keyframes thirteenthT {from {transform: translate(250%, 250%);}to {opacity: 1;}}
@keyframes fourteenthT {from {transform: translate(700%, 700%);}to {opacity: 1;}}
@keyframes fifteenthT {from {transform: translate(-500%, -500%);}to {opacity: 1;}}
@keyframes sixteenthT {from {transform: translate(300%, 300%);}to {opacity: 1;}}
@keyframes seventeenthT {from {transform: translate(-200%, -200%);}to {opacity: 1;}}
