#splashImg {
  background-image: url('./../../public/images/DowntownBackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;  
}
#splashVid {    
  min-height: 100vh;  
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: -100;
}
#splashPage:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(0,0,0,0.6) 
}
@media screen and (max-width: calc(@sm - 1px)) {  
  #splashVid {  
    display: none;
  }  
}

@media screen and (min-width: @sm) and (max-width: calc(@md - 1px)) {
  #splashVid {  
    display: none;
  }
}
@media screen and (min-width: @md) and (max-width: calc(@lg - 1px)) {
    #splash-page {
      background-image: none;
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
    }    
  }
@media screen and (min-width: @lg) and (max-width: calc(@xl - 1px)){
  #splashImg {
    display: none;
  }
}
     
@media screen and (min-width: @xl) {
  #splashImg {
    display: none;
  }
  #splashPage {
    background-image: none;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }    
}