@import './variables.scss';
@import './background.scss';
@import './splash.scss';
@import './about.scss';
@import './projects.scss';
@import './changeCalc.scss';
@import './vstda.scss';
@import './astroWeight.scss';
@import './weather.scss';
@import './animation.scss';
@import './header.scss';
@import './navbar.scss';


html, body {
  margin: 0; 
  padding: 0;
  right: 0;
  height: 100%; 
  width: 100%;  
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.full-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pages {
  color: white !important;
  font-size: 20px !important;
}

.title {    
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  color: white;
  font-size: 5em;
  font-weight: bold;
  z-index: 20; 
  text-align: center;     
}
#aboutActive, #topActive, #projectActive{
  width: 40px;
  height: 40px;
  transition: all .2s;
}
#footer {
  height: 100%;
}

@media screen and (max-width: $md) {

  .fullPage {
    max-width: 100vw;
  }
  .title {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .footerContainer {
    max-width: 100vw;
  }
  .footerTopRow {
    position: relative;
    padding-top: 1.1rem !important;
    bottom: 0;
    left: 0;
  }
  .footRow {
    padding: 0;
    width: 100vw;
    margin: 0;
    
  }
  .footRow > div {
    padding: 0;
    width: 100vw;
    
  }
  .footRow div p {
    color: white;
    font-size: 1.2rem;

  }
  .navBar {
    display: none;
  }
  .foot {
    padding: 0;
  }
}

.page {
  border: solid rgb(233, 231, 231);
  background-color: rgb(233, 231, 231);
  border-radius: 8px;
  margin-top: 6rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
#loginForm {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
#loginName {
  margin-bottom: 4rem;
}
#loginName li {font-size: 50px; color: rgb(131, 131, 131)}

.inputs {
  width: 100%;
  float: none;
  margin: auto;
}
#username, #password {
  width: 400px;  
  margin: auto;
  float: none;
}
.loginBtn {
  width: 400px; 
  margin: auto;
  float: none;
}
#blogHeader{
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: black; 
  height: 7rem;
}

.blogText {
  height: 10rem;  
  text-decoration-color: rgb(255,255,255);
}
form.blogText textarea {
  color: rgb(255,255,255);  
}
.submitBtn, .cancelBtn {
  width: 10rem;
}
.modalBtn {
  width: 10rem;
}

.textModal {
  padding-bottom: 2rem;
}
#userList li li {
  display: block;
  float: left;  
}
.userListLine {
  height: 50px;
}
.footerContainer {
  position: relative;
  background-color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  height: 100%;
  
}
.footerRow {    
  width: 100vw;
  height: 100%;
  padding-top: 1rem;
}

.footerId {
  font-size: 2rem;
}
.footerId p{
  position: absolute;
  top: 15%;
  left: 50%;
}
.footerDiv {
  text-align: center;
  font-size: 1.2rem;
}

.left-mid-footer {
  border-right: solid rgb(100, 99, 99);  
}
@media screen and (min-width: $md) and (max-width: $lg - 1px) {

  

}
@media screen and (min-width: $lg) and (max-width: $xl - 1px) {
  .title {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 4vw;
  }

  #userList li li.userListName{width: 300px; display: inline-block}
#userList li li.userListType{width: 100px; display: inline-block}
#userList li li.userListDate{width: 200px; display: inline-block}
#userList li button.expandBtn{width: 200px; display: inline-block}
}

@media screen and (min-width: $xl) {

  .title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 5vw;
  }


  #userList li li.userListName{width: 300px; display: inline-block}
  #userList li li.userListType{width: 100px; display: inline-block}
  #userList li li.userListDate{width: 200px; display: inline-block}
  #userList li button.expandBtn{width: 200px; display: inline-block}
}