


.bioBody {
  margin-top: 2rem;  
}
.container {
  border: solid lightgrey;
  background-color: lightgrey;
  border-radius: 8px;
}
#blogHeader{
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: black; 
  height: 7rem;
}

.blogText {
  height: 10rem;  
  text-decoration-color: white;
}
form.blogText textarea {
  color: white;  
}
.submitBtn, .cancelBtn {
  width: 10rem;
}
.modalBtn {
  width: 10rem;
}

.textModal {
  padding-bottom: 2rem;
}