@media screen and (max-width: $sm - 1px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: $sm) and (max-width: $md - 1px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $md) and (max-width: $lg - 1px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media screen and (min-width: $lg) and (max-width: $xl - 1px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $xl) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}