
@import './abstracts/variables';
@import './abstracts/_mixins.scss';

@import './animation.scss';

@import './layout/grid';

@import './components/background.scss';
@import './components/splash.scss';
@import './components/about.scss';
@import './components/projects.scss';
@import './components/changeCalc.scss';
@import './components/vstda.scss';
@import './components/astroWeight.scss';
@import './components/weather.scss';
@import './components/header.scss';
@import './components/navbar.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html, body {
  margin: 0; 
  padding: 0;
  right: 0;
  height: 100%; 
  width: 100%;  
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
  box-sizing: border-box;
}
.full-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.pages {
  color: white !important;
  font-size: 20px !important;
}
.section-container {
  z-index: 50;
}
.section {
  overflow: hidden !important;
}
#aboutActive, #topActive, #projectActive{
  width: 4rem;
  height: 4rem;
  transition: all .2s;
}
@media only screen and (max-width: $xs - 1px) {
  html {
    font-size: 12px;
  }
} 
@media screen and (min-width: $xs) and (max-width: $sm - 1px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: $sm) and (max-width: $md - 1px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: $md) and (max-width: $lg - 1px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: $lg) and (max-width: $xl - 1px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: $xl) {
  html {
    font-size: 16px;
  } 
}